<%- include("header") -%>

<h2>This is an about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero dolores eius explicabo expedita omnis molestiae enim natus eos et quam laboriosam nulla, illum, quo inventore earum mollitia repellat consequatur ipsam.</p>

<%- include("footer") -%>
